<div class="container">
  <div class="row">
    <div class="col-xl-12">
        <div>
            <mat-form-field>
                <mat-label>Select class</mat-label>
                  <mat-select (selectionChange)="onClassChange($event)">
                    <mat-option *ngFor="let studentDetails of studentDetail" [value]="studentDetails" #stdName>{{studentDetails.stdName}}</mat-option>
                  </mat-select>
            </mat-form-field> 
        
            <mat-form-field>
              <mat-label>Select section</mat-label>
                <mat-select (selectionChange)="onSecChange($event)">
                    <mat-option *ngFor="let secNames of secName" [value]="secNames" #sectionName>{{secNames.sectionName}}</mat-option>
                </mat-select>
            </mat-form-field>
        
        </div>
        <div *ngIf="!showInfo">
          <app-student-detail 
          [studentNewDetails]="studentInfo"
          (deleteStudentInfo)="deleteStudentInfo($event)"
          ></app-student-detail>
        </div>

        <div align="right">
            <button mat-raised-button [disabled]="showInfo" color="accent" (click)=addNewStudent($event)>
                <mat-icon>add</mat-icon>
            </button>
        </div> 

        <app-student-new *ngIf="!addInfo"
        [addNewStudentDetails]="addNewStudentDetails"
        (sendStudentDetails)="newStudentInfo($event)"
        ></app-student-new>
        
    </div>
  </div>
</div>



<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button mat-raised-button color="primary" (click)="toAdd()">To add student info</button>
<div *ngIf= "addDetails">
    <app-student-new
    (sendStudentDetails)="getStudentDetails($event)"
    ></app-student-new>
</div>
<br><hr>
<button mat-raised-button color="primary" (click)="toView()">To view student info</button>
<div *ngIf="viewDetails">
    <app-student-detail 
    [studentName]="details.name"
    [studentClass]="details.std"
    [studentSchoolName]="details.schoolName"
    [i]="i"
    *ngFor="let details of detail; index as i"
    (deleteStudentDetails)="deleteStudentInfo($event)"
    ></app-student-detail>
</div> -->
