<h3>Student Information</h3>
<div *ngFor="let studentNewDetail of studentNewDetails; let i = index">{{studentNewDetail.firstName}} {{studentNewDetail.lastName}}
    <button mat-icon-button color="warn" (click)="onDelete(i)">
        <mat-icon>delete</mat-icon>
      </button>
</div>