<div #body>
        <div class="container" >
                <div class="row">
                    <img src="https://d9d85fazp6m2u.cloudfront.net/pepstudy-frontend/assets/img/logo_2.png" alt="pepStudy_logo">
                    <!-- 
                    <div [formGroup]="studentForm">
                            <h4>Student Info</h4>
                              <mat-form-field>
                                <mat-label>Select class</mat-label>
                                  <mat-select (selectionChange)="onClassChange($event)">
                                    <mat-option *ngFor="let studentDetail of studentDetails" [value]="studentDetail">{{studentDetail.stdName}}</mat-option>
                                </mat-select>
                              </mat-form-field>
                      
                                <mat-form-field>
                                    <mat-label>Select section</mat-label>
                                    <mat-select (selectionChange)="onSecChange($event)">
                                        <mat-option *ngFor="let secNames of secName" [value]="secNames">{{secNames.sectionName}}</mat-option>
                                    </mat-select>
                                  </mat-form-field> 
                                  
                                <h3>Student Information</h3>
                                    <div *ngFor="let studentInfos of studentInfo">{{studentInfos.firstName}} {{studentInfos.lastName}}</div> 

                                    <div><button mat-raised-button [disabled]="addStudent">Add New Student</button></div>
                                    <div class="example-container">
                                            <mat-form-field>
                                              <input matInput placeholder="firstname" #firstname>
                                            </mat-form-field>
                                            <mat-form-field>
                                                    <input matInput placeholder="lastname" #lastname>
                                            </mat-form-field>
                                            <button (click)="addNewStudent(firstname.value, lastname.value)">Add</button>
                            </div> -->
                
            <hr>
             <app-user></app-user> 

</div>