<nav>
    <div class="container">
        <div class="row">
            <div class="col-xs-12" id="navigation">
                <a [routerLink]="['student']" routerLinkActive="router-link-active" >Student   </a>
                <a [routerLink]="['teacher']" routerLinkActive="router-link-active" >Teacher   </a>
                <a [routerLink]="['principal']" routerLinkActive="router-link-active" >Principal   </a>
            </div>
        </div>
    </div>
</nav>
<hr>
<router-outlet></router-outlet>

