<div class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Firstname" #firstname>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Lastname" #lastname>
    </mat-form-field>

    <div>
      <button mat-raised-button (click)="addToList(firstname.value,lastname.value)">Submit</button>
    </div>
  </div>
  

<!--   <div class="example-form" [formGroup]="studentForm">

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Student name" formControlName="name" [class.is-invalid]="studentForm.get('name').errors && (studentForm.get('name').touched || studentForm.get('name').dirty)">
      <mat-hint>Min 2 and max 10 character</mat-hint>
    </mat-form-field>

    <mat-error class="text" *ngIf="studentForm.get('name').errors && (studentForm.get('name').touched || studentForm.get('name').dirty)">
        <mat-error *ngIf="studentForm.get('name').errors.required">
          Full name is required
        </mat-error>
        <mat-error *ngIf="studentForm.get('name').errors.pattern && studentForm.get('name').touched">
            Name do not contain special characters
          </mat-error>
          <mat-error *ngIf="studentForm.get('name').errors.minlength">
              Name should contain more than 2 character
            </mat-error>
    </mat-error>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Class" formControlName="standard" [class.is-invalid]="studentForm.get('standard').errors && (studentForm.get('standard').touched || studentForm.get('standard').dirty)">
    </mat-form-field>

    <small class="text" *ngIf="studentForm.get('standard').errors && (studentForm.get('standard').touched || studentForm.get('standard').dirty)">
        <small *ngIf="studentForm.get('standard').errors.required">
          Standard is required
        </small>
        <small *ngIf="studentForm.get('standard').errors.pattern">
            Should be only number
          </small>
    </small>


    <mat-form-field class="example-full-width">
      <input matInput placeholder="School name" formControlName="school" [class.is-invalid]="studentForm.get('school').errors && (studentForm.get('school').touched || studentForm.get('school').dirty)">
    </mat-form-field>

    <small class="text" *ngIf="studentForm.get('school').errors && (studentForm.get('school').touched || studentForm.get('school').dirty)">
        <small *ngIf="studentForm.get('school').errors.required">
          School name is required
        </small>
    </small>

    <button mat-raised-button color="accent" [disabled]="studentForm.invalid" (click)="add()">Add</button>
 
  </div>

 -->